#lost__rescue-team {
  object-fit: contain;
  width: 100%;
  max-height: 70vh;
  object-position: top center;
}

#lost__coordinates {
  font-weight: 900;
  font-family: sans-serif;
  color: black;
  text-align: left;
}

#lost__call {
  cursor: pointer;
  white-space: nowrap;
}

#lost__find-me {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  max-width: 500px;
  font-size: 1.8rem;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: black;
  background: #f96447;
  cursor: pointer;
  border: 3px solid black;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#lost__find-me:hover {
  background: #fa320a;
  color: black;
}
