*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  position: absolute;
  z-index: 0;
  top: 0;
  font-family: "Itim", sans-serif;
  background-color: #000000;
  width: 100%;
}

/* Headers */

h1 {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: block;
  font-family: "Emilys Candy", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #f5d0aa;
  text-align: center;
  padding: 2px;
}

h2 {
  font-family: "Emilys Candy", sans-serif;
  letter-spacing: 0.3rem;
  color: #91e4e4;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 8px;
  background-image: linear-gradient(to bottom, #000000 0, #00000000 250%);
}

h3 {
  font-family: "Itim", sans-serif;
  letter-spacing: 0.3rem;
  color: #f6f69c;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
}

/* Paragraph */
p {
  color: #fdfcfc;
  text-align: left;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 1.25rem;
  text-shadow: 0 5px 10px #000000;
}

/* Footer */
footer {
  position: absolute;
  margin-top: 1rem;
  width: 100%;
  height: 5rem;
  border-top: 1px solid #75776d;
  background: black;
  color: #eaeaea;
}

/* Navigation bar */
nav {
  z-index: 2;
  position: absolute;
  border-bottom: 1px solid #75776d;
  list-style: none;
  background: black;
  padding: 10px;
  top: 0;
  width: 100%;
}

.nav__menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media only screen and (min-width: 768px) {
  .nav__menu {
    flex-direction: row;
    justify-content: right;
    align-items: baseline;
    gap: 1rem;
  }
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

@media only screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

svg {
  width: 1.5rem;
  fill: #d5d8ca;
}

@media only screen and (min-width: 768px) {
  svg {
    display: none;
  }
}

.close {
  display: none;
}

.hamburger {
  margin-top: 0.2rem;
}

.nav__checkbox {
  display: none;
}

li {
  list-style: none;
  display: none;
  text-transform: uppercase;
  padding: 2px;
  border-bottom: 3px solid transparent;
}

@media only screen and (min-width: 768px) {
  .nav__menu li {
    display: block;
  }
}

.nav__menu li:first-child {
  font-family: "Emilys Candy", sans serif;
  font-weight: 400;
  margin-right: auto;
  display: block;
  white-space: nowrap;
}

.nav__menu li:not(:first-child):hover {
  transform: scale(1.1);
  transition: 300ms ease-in-out;
}

#logo {
  height: 1.5rem;
}

a {
  text-decoration: none;
  color: #eaeaea;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
}

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .hamburger {
  display: none;
}

#nav__this_page {
  border-bottom: 3px solid #eba762;
}

/* Home page */
#home__image {
  object-fit: cover;
  width: 100%;
  max-height: 60vh;
  object-position: center center;
}

#home__header-1 {
  font-size: 3.5rem;
  margin: 3rem auto;
  padding: 2px;
}

#home__header-2 {
  font-size: 1rem;
  margin: 6.9rem auto;
}

#home__header-3 {
  margin: 7.3rem auto;
  font-size: 3.5rem;
}

#home__header-4 {
  margin: 10.2rem auto;
  font-size: 3.5rem;
}

.home__footer {
  margin-top: 16rem;
}

/* About page */
#about__image {
  object-fit: cover;
  width: 100%;
  max-height: 60vh;
  object-position: bottom center;
}

#about__header-1 {
  font-size: 5rem;
  margin: 3rem auto;
  padding: 2px;
}

#about__header-2 {
  font-size: 1.5rem;
  margin: 7.8rem auto;
}

#about__header-3 {
  margin: 7.5rem auto;
  font-size: 5rem;
}

#about__title {
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
}

.about__name {
  border-radius: 15px;
}

.about {
  display: grid;
  grid-gap: 1rem;
  padding: 10px;
  width: 100%;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 16rem;
}

@media only screen and (min-width: 900px) {
  .about {
    grid-template-columns: repeat(3, 1fr);
  }
}

.about__team {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  min-height: 300px;
  max-height: 90vh;
  text-align: center;
  border-radius: 15px;
}

.about__team:nth-child(1):before {
  background-image: url(madame-fluffycorn.png);
}

.about__team:nth-child(2):before {
  background-image: url(mj-dreyfuss.png);
}

.about__team:nth-child(3):before {
  background-image: url(duncan.png);
}

.about__team:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
  pointer-events: none;
}

.about__team:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  transition: all 500ms ease;
  transform: translateY(-50%);
  background-image: linear-gradient(to top, #000000 0%, #00000000 65%);
}

.about__team:after {
  transform: translateY(0);
}

.about__team:hover:before {
  transform: translateY(-4%);
}

.about__team:hover:after {
  transform: translateY(-49%);
}

.about__team:hover .about__info {
  transform: translateY(0);
}

.about__info {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: justify;
  width: 100%;
  padding: 5px;
  transition: transform 500ms ease;
  z-index: 2;
  transform: translateY(calc(100% - 3.7rem));
}

/* Signs page */
#signs__image {
  object-fit: cover;
  width: 100%;
  max-height: 60vh;
  object-position: bottom center;
}

#signs__header-1 {
  font-size: 5rem;
  margin: 3rem auto;
  padding: 2px;
}

#signs__header-2 {
  font-size: 1.5rem;
  margin: 8rem auto;
}

#signs__header-3 {
  margin: 8rem auto;
  font-size: 5rem;
}

.sign__name {
  border-radius: 15px;
}

.signs__date {
  text-align: center;
  font-size: 1.1rem;
  line-height: 0.9rem;
}

.signs__container {
  margin-top: 18rem;
  margin-bottom: 4rem;
  width: 100%;
  padding: 2.5rem 3rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signs__sign {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  height: 600px;
  justify-content: center;
  overflow: hidden;
  padding: 0.75rem;
  text-align: center;
  border-radius: 15px;
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  .signs__sign {
    height: 90%;
    width: 100%;
  }
}

#aries:before {
  background-image: url(signs-aries_low.png);
}

#taurus:before {
  background-image: url(signs-taurus_low.png);
}

#gemini:before {
  background-image: url(signs-gemini_low.png);
}

#cancer:before {
  background-image: url(signs-cancer_low.png);
}

#leo:before {
  background-image: url(signs-leo_low.png);
}

#virgo:before {
  background-image: url(signs-virgo_low.png);
}

#libra:before {
  background-image: url(signs-libra_low.png);
}

#scorpio:before {
  background-image: url(signs-scorpio_low.png);
}

#sagittarius:before {
  background-image: url(signs-sagittarius_low.png);
}

#capricorn:before {
  background-image: url(signs-capricorn_low.png);
}

#aquarius:before {
  background-image: url(signs-aquarius_low.png);
}

#pisces:before {
  background-image: url(signs-pisces_low.png);
}

@media screen and (min-width: 1000px) {
  .signs__sign:nth-child(1):before {
    background-image: url(signs-aries_high.png);
  }

  .signs__sign:nth-child(2):before {
    background-image: url(signs-taurus_high.png);
  }

  .signs__sign:nth-child(3):before {
    background-image: url(signs-gemini_high.png);
  }

  .signs__sign:nth-child(4):before {
    background-image: url(signs-cancer_high.png);
  }

  .signs__sign:nth-child(5):before {
    background-image: url(signs-leo_high.png);
  }

  .signs__sign:nth-child(6):before {
    background-image: url(signs-virgo_high.png);
  }

  .signs__sign:nth-child(7):before {
    background-image: url(signs-libra_high.png);
  }

  .signs__sign:nth-child(8):before {
    background-image: url(signs-scorpio_high.png);
  }

  .signs__sign:nth-child(9):before {
    background-image: url(signs-sagittarius_high.png);
  }

  .signs__sign:nth-child(10):before {
    background-image: url(signs-capricorn_high.png);
  }

  .signs__sign:nth-child(11):before {
    background-image: url(signs-aquarius_high.png);
  }

  .signs__sign:nth-child(12):before {
    background-image: url(signs-pisces_high.png);
  }
}

.signs__sign:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
  pointer-events: none;
}

.signs__sign:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  transition: all 500ms ease;
  transform: translateY(50%);
  background-image: linear-gradient(to top, #000000 0, #00000000 70%);
}

.signs__sign:hover .signs__info {
  transform: translateY(0);
}

.signs__sign:after {
  transform: translateY(0);
}

.signs__sign:hover:before {
  transform: translateY(-4%);
}

.signs__sign:hover:after {
  transform: translateY(-49%);
}

.signs__info {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: justify;
  width: 100%;
  padding: 1rem;
  transition: transform 500ms ease;
  z-index: 2;
  transform: translateY(calc(100% - 3rem));
}

.signs__button-next,
.signs__button-previous {
  color: #f6f69c;
  font-weight: 900;
  background-color: #75776d;
  padding: 2.5rem;
  border-radius: 50%;
  transform: scale(0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signs__button-next {
  margin-right: -0.5rem;
  background-image: linear-gradient(to right, #000000 0, #00000000 250%);
  box-shadow: -8px 0px 12px rgba(250, 250, 250, 0.25);
}

.signs__button-previous {
  margin-left: -0.5rem;
  background-image: linear-gradient(to left, #000000 0, #00000000 250%);
  box-shadow: 8px 0px 12px rgba(250, 250, 250, 0.25);
}

.signs__button-next:hover,
.signs__button-previous:hover {
  transform: scale(0.7);
  transition: 300ms ease-in-out;
}

@media screen and (max-width: 768px) {
  .signs__button-next,
  .signs__button-previous {
    display: none;
  }
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: #eaeaea;
  background-image: linear-gradient(to left, #000000 0, #00000000 150%);
  box-shadow: 8px 0px 12px rgba(250, 250, 250, 0.25);
}
.swiper-pagination-bullet-active {
  background-image: none;
  background-color: #eaeaea;
}

/* Contact page */
#contact__image {
  object-fit: cover;
  width: 100%;
  max-height: 60vh;
  object-position: center center;
}

#contact__header-1 {
  font-size: 5rem;
  margin: 2rem -1.5rem;
  padding: 2px;
}

#contact__header-2 {
  font-size: 1.5rem;
  margin: 7rem -2rem;
}

#contact__header-3 {
  margin: 7.2rem auto;
  font-size: 5rem;
}

.contact__form {
  width: 90vw;
  max-width: 650px;
  background: rgb(31, 31, 31);
  padding: 28px;
  margin: 16rem auto;
  border-radius: 15px;
  box-shadow: inset -1px 1px 10px rgb(147, 149, 138, 0.15);
}

.contact__form-title {
  text-align: center;
  padding-bottom: 1.5rem;
  background-image: none;
  border-bottom: solid 1.5px #75776d;
}

.contact__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact__info:nth-child(2n) {
  justify-content: end;
}

.contact__info {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 16px;
}

.contact__info label {
  width: 95%;
  font-family: "Itim", sans-serif;
  letter-spacing: 0.15rem;
  color: #dada8b;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.contact__info input {
  height: 2.25rem;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid #75776d;
  padding: 0 10px;
}

.contact__info select {
  height: 2.25rem;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid #75776d;
  padding: 0 10px;
}

.contact__address {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  padding-bottom: 16px;
}

.contact__address label {
  width: 95%;
  font-family: "Itim", sans-serif;
  letter-spacing: 0.15rem;
  color: #dada8b;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.contact__address input {
  height: 2.25rem;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid #75776d;
  padding: 0 10px;
}

.contact__address-area {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  padding-bottom: 16px;
}

.contact__address-area label {
  width: 95%;
  font-family: "Itim", sans-serif;
  letter-spacing: 0.2rem;
  color: #dada8b;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.contact__address-area input {
  height: 2.25rem;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid #75776d;
  padding: 0 10px;
}

.pronouns__title {
  width: 95%;
  font-family: "Itim", sans-serif;
  letter-spacing: 0.2rem;
  color: #dada8b;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.pronouns__option {
  margin: 1rem 0;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  color: #d5d8ca;
}

.pronouns__option label {
  padding: 0 30px 0 5px;
}

.pronouns__option label,
.pronouns__option input,
.contact__submit-button {
  cursor: pointer;
}

.contact__center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__submit-button {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 200px;
  text-align: center;
  font-family: "Itim", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 8px;
  border: none;
  border-radius: 100px;
  color: black;
  background: #be5555;
  box-shadow: inset -1px 3px 7px rgba(210, 136, 136, 1);
}

.contact__submit-button:hover {
  transition: 200ms ease-in-out;
  background: #ab4d4d;
  box-shadow: inset -1px 3px 7px rgba(133, 59, 59, 1);
}

@media (max-width: 768px) {
  .contact__form {
    min-width: 280px;
  }

  .contact__info {
    margin-bottom: 1rem;
    padding-bottom: 24px;
    width: 100%;
  }

  .contact__info:nth-child(2n) {
    justify-content: space-between;
  }

  .contact__address-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 1rem;
  }

  .pronouns__option {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
  }
}
